#!/bin/bash

# {{ ansible_managed }}

printf '\n%s\n\n' "$(date) - Starting backup"

WORKDIR={{ backup_work_directory }}

{% for db in backup_databases %}

{%- if db.type == "mysql" %}

DBNAME={{ db.name }}
mysqldump -u {{ db.user }} -p{{ db.pass }} $DBNAME > $WORKDIR/${DBNAME}_dump

{%- elif db.type == 'postgresql' %}

DBNAME={{ db.name }}
pg_dump -U {{ db.user }} {{ '-h ' + db.host if db.host else '' }} {{ ('-p %s' % db.port) if db.port else '' }} -c $DBNAME -f $WORKDIR/${DBNAME}_dump

{% endif %}

{% endfor %}
