# {{ ansible_managed }}

location:
    source_directories:
{% for dir in backup_directories %}
    - {{ dir }}
{% endfor %}
    repositories:
{% for repo in backup_repositories %}
    - {{ repo }}
{% endfor %}
{% if backup_location_options %}
    {{ backup_location_options | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_storage_options %}
storage:
    {{ backup_storage_options | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_consistency_options %}
consistency:
    {{ backup_consistency_options | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_retention_options %}
retention:
    {{ backup_retention_options | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_hooks_options or backup_mysql_databases or backup_postgresql_databases %}
hooks:
{% if backup_hooks_options %}
    {{ backup_hooks_options | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_mysql_databases %}
    mysql_databases:
    {{ backup_mysql_databases | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% if backup_postgresql_databases %}
    postgresql_databases:
    {{ backup_postgresql_databases | to_nice_yaml(indent=4) | indent(width=4) }}
{% endif %}
{% endif %}
